* {
    margin: 0px;
    padding: 0px;
}

$gris: #3d3242;
$bordo: #76323f;
$camel: #bf930d;
$beige: #eecd86;
$colorheader: whitesmoke;
$colorfooter: black;
$font_family :'Fahkwang', sans-serif;

#cabezadepagina {
    background-color: $colorheader;    
}

#header {
    font-family:'Fahkwang', sans-serif;
    padding-top: 10px;
    font-size:x-large;
}

#menumobile {
    display: none;
}

#menugrande {
    display:flex;
    justify-content: flex-end;
}

#menugrande a {
    font-family: 'Fahkwang', sans-serif; 
    font-size: medium;
    color: black;
    font-size: large;
    padding: 10px;
   
} 


#seccioncontenido {
    background-image: url(./img/inicio.jpg);
    background-size: cover;
    text-align: center;
    animation-duration: 30s;
    animation-name: backgroundefecto;
    animation-iteration-count: infinite;
}

@keyframes backgroundefecto {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }    
}



#titulo {
    margin-top: 50px;
    padding-top: 50px;    
}

audio {
    display: none;
}

#titulo h1 {
    background-color: $bordo;
    opacity: 80%;
    font-family:  'Fahkwang', sans-serif;
    font-size: 400%;
    color: white;
    border-radius: 20px;
    animation-duration: 30s;
    animation-name: aparecetitulo;
    animation-iteration-count: infinite;
}

@keyframes aparecetitulo {
    0% {
        opacity: 0;
    }
    5% {opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


#subtitulo {
    font-family:'Fahkwang', sans-serif ;
    color: white;
    position: relative;
    animation-duration: 30s;
    animation-name: aparecesubtitulo;
    animation-iteration-count: infinite;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes aparecesubtitulo {
    0% {
        opacity: 0;
    }
    10% {opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#parrafo {
    margin-top: 150px;
    margin-bottom: 100px;  
    text-align:center;
    position: relative;
    bottom:100px;
    color: black;
    font-size:large;
    font-weight:400;
    font-family:'Fahkwang', sans-serif  ;
    animation-duration: 30s;
    animation-name: efectoparrafo;
    animation-iteration-count: infinite;
    padding: 20px;
    h4 {
        background-color: whitesmoke;
        opacity: 80%;
        border-radius: 20px;
        padding: 5px;
    }
}



@keyframes efectoparrafo {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }    
}

.formulario {
    background-image:url(./img/pexels-eduardo-dutra-2115217.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    animation-duration: 30s;
    animation-name: backgroundefecto2;
    animation-iteration-count: infinite;
}



@keyframes backgroundefecto2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }    
}

#form {
    animation-duration: 200s;
    animation-name: formulario;
    animation-iteration-count: infinite;
}

@keyframes formulario {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }
    4% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    
}

#seccioncontenido .row {
    display: flex;
    align-items: center;
    justify-content: center;
}





#datos {
    display: inline-block;
    .form-control {
        background-color: white;
        color: black;
        width: 300px;
        transition: all 2s;   
        }
}

#datos .form-control:focus {
    width: 500px;
    background-color: white;
    color: black;
    }

@mixin footerimg($width,$height) {
    width: $width;
    height: $height;
} 

#footer {
    margin: 0px;
    padding: 0px;
    background-color: $colorfooter;
    height: 70px;
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        div {
         width: 120px;
         height: 50px;
         }
     }   
}

#footer__dondeestamos {
    color: white;
    font-family:'Fahkwang', sans-serif;
    width: 130px;
    margin-left: 10px;
    padding-top: 10px;
  
}


#footer__mapa img {
    border-radius: 40px;
    @include footerimg(40px,40px);
    margin-top: 15px;
}

#footer__nuestrasredes {
    color: white;
    text-align: right;
    font-family:'Fahkwang', sans-serif;
    margin-right: 10px;
    padding-top: 10px;
    
}


#footer__facebook img {
    @include footerimg(60px,60px );
    margin-top: 5px;

   
    
}

#footer__instagram img {
    @include footerimg(40px,40px );
    margin-top:15px;
    
}

.container {
    h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    label {
        font-size: larger;
    }
    input {
        text-align: center;
    }
    button {
        font-size: larger;
        font-family: 'Fahkwang', sans-serif;
        font-weight: 900;
        color: white;
        background-color: grey;
        border: solid 1px gray;
        border-radius: 10px;
        padding: 10px;
        margin: 20px;
    }
}


#quienes {
    background-image:url(./img/shaking.jpg);
    background-size: cover;
    animation-duration: 60s;
    animation-name: background3;
    animation-iteration-count: infinite;
    }
    
    @keyframes background3 {
        0% {
            opacity: 0;
        }
    
        5% {
            opacity: 1;
        }
        6% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
        }

        h3 {
            text-transform: uppercase;
        }
    
$mapacolores: (
    1: $beige,
    2: $camel,
    3: $bordo,
    4: #3d3242
);
    
@each $id, $backcolor in $mapacolores {
    #quienes{
        #quienes__p:nth-child(#{$id}){
            background-color: $backcolor;
            opacity: 85%;
        }
    }
}

$mapaletra: (
    1: $bordo,
    2: #3d3242,
    3: $camel,
    4: $beige
);

@each $id, $fontcolor in $mapaletra {
    #quienes{
        #quienes__p:nth-child(#{$id}){
        color: $fontcolor;
    }
 }
}
   
    div .caja {
        text-align: center;
        justify-content: space-between;
        padding: 20px;
        font-family: $font_family;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 10px;
        margin-right: 10px;
        animation-duration: 60s;
        animation-name: apareceequipo;
        animation-iteration-count: infinite;
    }
    @keyframes apareceequipo {
        0% {
            opacity: 0;
        }
    
        3% {
            opacity: 0;
        }
        6% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }

        h3 {
            text-transform: uppercase;
        }
        
        
    }
    

#walabi {
    background-image: url(/desafioboot/img/pexels-fauxels-3183150.jpg);
    background-size: cover;
    #walabirow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}   

#walabi__texto {
    background-color: $bordo;
    opacity: 90%;
    border-radius: 400px;
    color: whitesmoke;
    font-family: $font_family;
    padding: 80px;     
    margin-top: 20px;
    margin-bottom: 20px;
    h1 {
        background-color: $colorheader;
        color: $bordo;
        width: 200px;
        border-radius: 20px;
        position: relative;
        left: 50px;
        padding-left: 10px;
        animation-duration: 60s;
        animation-name: efectowalabi;
        animation-iteration-count: infinite;
        @keyframes efectowalabi {
            0% {
                opacity: 0;
            }
        
            1% {
                opacity: 0;
            }
            4% {
                opacity: 1;
            }
            100% {
                opacity: 1;
            }
        }
    }
    h2 {
        color: white;
        font-weight: 500;
        position: relative;
        left: 50px;
        animation-duration: 60s;
        animation-name: efectosobrenosotros;
        animation-iteration-count: infinite;
        @keyframes efectosobrenosotros {
            0% {
                opacity: 0;
            }
            
            4% {
                opacity: 0;
                }
            7% {
                opacity: 1;
            }
            100% {
                opacity: 1;
            }
        }
    
    }
    p {
        position: relative;
        left: 50px;
        animation-duration: 60s;
        animation-name: efectopresentacion;
        animation-iteration-count: infinite;
        }
        @keyframes efectopresentacion {
            0% {
                opacity: 0;
            }
            
            7% {
                opacity: 0;
                }
            10% {
                opacity: 1;
            }
            100% {
                opacity: 1;
            }

         }
        }

    #portfolio__titulo {
        background-color: black;
        height: 100px;
        opacity: 80%;
        h2 {
            color: whitesmoke;
            font-family: $font_family;
            font-size: 80px;
        }
    }

    #portfoliochn {
        background-color: black;
        opacity: 80%;
        margin: 0px;
        #pchn div {
            height: 400px;
            border: solid 1px white; 
           
        }
    }

    #chnn1 {
        background-image: url(/desafioboot/img/hormiganegra/H2.jpg);      
    }   
  
    #chnn2 {
        background-image: url(/desafioboot/img/hormiganegra/H4.jpg);      
    }   

    #chnn3 {
        background-image: url(/desafioboot/img/hormiganegra/H2.jpg);      
    }   

    #chnn4 {
        background-image: url(/desafioboot/img/hormiganegra/H5.jpg);      
    }

    #chnn5 {
        background-image: url(/desafioboot/img/hormiganegra/H6.jpg);      
    }

    #chnn6 {
        background-image: url(/desafioboot/img/hormiganegra/H8.jpg);      
    }


    #portfoliobebe {
        background-color: black;
        opacity: 80%;
        margin: 0px;
        #pbebe div {
            height: 400px;
            border: solid 1px white; 
           
        }
    }

    #bebe1 {
        background-image: url(/desafioboot/img/bebedero/B5.jpg);      
    }   
  
    #bebe2 {
        background-image: url(/desafioboot/img/bebedero/B4.jpg);      
    }   

    #bebe3 {
        background-image: url(/desafioboot/img/bebedero/B1.jpg);      
    }   

    #bebe4 {
        background-image: url(/desafioboot/img/bebedero/B2.jpg);      
    }

    #bebe5 {
        background-image: url(/desafioboot/img/bebedero/B3.jpg);      
    }

    #bebe6 {
        background-image: url(/desafioboot/img/bebedero/B7.jpg);      
    }

    #portfolioati {
        background-color: black;
        opacity: 80%;
        margin: 0px;
        #pati div {
            height: 400px;
            border: solid 1px white; 
           
        }
    }

    #ati1 {
        background-image: url(/desafioboot/img/Atiko/A1.jpg);      
    }   
  
    #ati2 {
        background-image: url(/desafioboot/img/Atiko/A2.jpeg);      
    }   

    #ati3 {
        background-image: url(/desafioboot/img/Atiko/A3.jpeg);      
    }   

    #ati4 {
        background-image: url(/desafioboot/img/Atiko/A4.jpeg);      
    }

    #ati5 {
        background-image: url(/desafioboot/img/Atiko/A5.jpeg);      
    }

    #ati6 {
        background-image: url(/desafioboot/img/Atiko/A6.jpeg);      
    }

@media  (max-width:768px) and (min-width:577px) {
    
    #footer {
        height: 60px;
        display: inline-block;
        .row {
            display: flex;
            justify-content: space-around;
            align-items:stretch;
            
        }
    }
    
    
    #footer__dondeestamos {
        display: none;
        
    }

    #walabi__texto {
        padding: 50px;
        h1{
            width: 170px;
            margin-left: 20px;
        }
    }
    

    #footer__mapa img{
        @include footerimg(30px,30px );
       
        
    }

    #footer__facebook img {
        @include footerimg(40px,40px );
        position: relative;
        top: 5px;   
    }
    
    #footer__instagram img {
        @include footerimg(30px,30px );
       
        
    } 

    #footer__mapa {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer__facebook {
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer__instagram {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer__nuestrasredes {
        display: none;
        width: 120px;
    }

    
    #cabezadepagina.row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        #menugrande {
            display: none;
        }
        #menumobile {
            display:inline;
            width: 100px;
            align-self: flex-end;
            div.row {
                width: 50px;
                float: left;
            }
    }
    
        
        
    }
    

    #menudesplegable {
        list-style: none;
        float: left;
        img {
        width: 30px;
        height: 30px;
    }
        ul {
        list-style: none;        
    }


}

    #menudesplegable>li {
        float: left;
        text-align:left;
        
    }

    #menudesplegable>li>ul{
        display: none;
    }

    #menudesplegable>li:hover>ul {
        display:block;
        animation-duration: 10s;
        animation-name: aparecemenu;
        animation-iteration-count: infinite;
        li {
            font-family: $font_family;
            a {
                list-style: none;
                color: #3d3242;
            }
        }
    }


    @keyframes aparecemenu {
        0% {
            opacity: 0;
        }
        5% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        
        100%{
            opacity: 1;
        }
    }   

    #menumobile.lista a{
            font-family: $font_family;
            color: black;    
        }
    


    .container h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container label {
        font-size: large;
    }
        
    #quienes div .caja {
          
            justify-content: space-around;
            padding: 20px;
            font-family: $font_family;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 10px;
            margin-right: 10px;
    }
    
}


@media (max-width:576px) {
    #footer {
        display: inline;
        .row {background-color: black;}
        #footer__dondeestamos {
            display:none
        }  
        #footer__mapa {
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 7px;
        }
        #footer__facebook {
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 3px;
        }
        #footer__instagram {
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 7px;
        }
    }
   
    #walabi__texto {
        padding: 60px;
    }

    #footer__mapa img{
        @include footerimg(30px,30px )
    
   

    }

    #footer__facebook img {
        @include footerimg(40px,40px )
       
        
    }
    
    #footer__instagram img {
        @include footerimg(30px,30px )
        
    }

    #footer .row div {
        width: 100px;
    }

    #footer__nuestrasredes {
        display: none;
    }

    #menugrande {
        display: none;
    }

    #menumobile {
        display:list-item;
        ul {
            list-style: none;
        }
    }

    #menudesplegable img {
        width: 20px;
        height: 20px;
    }

    #menudesplegable>li{
        float: right;
        text-align:right;
    }

    #menudesplegable>li>ul{
        display: none;
    }

    #menudesplegable>li:hover>ul {
        display:block;
        animation-duration: 10s;
        animation-name: aparecemenu;
        animation-iteration-count: infinite;
        li {
            font-family: $font_family;
            a {
                list-style: none;
                color: #3d3242;
            }
        }
    }

    @keyframes aparecemenu {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }   

    .container h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container label {
        font-size: large;
    }

    #quienes div .caja {
          
        justify-content: space-around;
        padding: 10px;
        font-family: $font_family;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

