* {
    margin: 0px;
    padding: 0px;
}

$font_family :'Fahkwang', sans-serif;

#cabezadepagina {
    background-color: white;    
}

#header {
    font-family:'Fahkwang', sans-serif;
    padding-top: 10px;
    font-size:x-large;
}

#menumobile {
    display: none;
}

#menugrande {
    display:flex;
    justify-content: flex-end;
}

#menugrande a {
    font-family: 'Fahkwang', sans-serif; 
    font-size: medium;
    color: black;
    font-size: large;
    padding: 10px;
   
} 



#seccioncontenido {
    background-image: url(./img/inicio.jpg);
    background-size: cover;
    text-align: center;
    animation-duration: 30s;
    animation-name: backgroundefecto;
    animation-iteration-count: infinite;
}

@keyframes backgroundefecto {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }    
}



#titulo {
    margin-top: 50px;
    padding-top: 50px;    
}

#titulo h1 {
    background-color: white;
    font-family:  'Fahkwang', sans-serif;
    font-size: 400%;
    color: black;
    position: relative;
    z-index: 100;
    animation-duration: 30s;
    animation-name: aparecetitulo;
    animation-iteration-count: infinite;
}

@keyframes aparecetitulo {
    0% {
        opacity: 0;
    }
    5% {opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


#subtitulo {
    font-family:'Fahkwang', sans-serif ;
    color: white;
    position: relative;
    animation-duration: 30s;
    animation-name: aparecesubtitulo;
    animation-iteration-count: infinite;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes aparecesubtitulo {
    0% {
        opacity: 0;
    }
    10% {opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#parrafo {
    margin-top: 150px;
    margin-bottom: 100px;  
    text-align:left;
    position: relative;
    bottom:100px;
    h4 {
        background-color: #bf930d;
    }
}
#parrafo  {
    color: black;
    font-size:large;
    font-weight:400;
    font-family:'Fahkwang', sans-serif  ;
    animation-duration: 30s;
    animation-name: efectoparrafo;
    animation-iteration-count: infinite;
    padding: 20px;
}


@keyframes efectoparrafo {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }    
}

.formulario {
    background-image:url(./img/pexels-eduardo-dutra-2115217.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    animation-duration: 30s;
    animation-name: backgroundefecto2;
    animation-iteration-count: infinite;
}



@keyframes backgroundefecto2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }    
}

#form {
    animation-duration: 200s;
    animation-name: formulario;
    animation-iteration-count: infinite;
}

@keyframes formulario {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }
    4% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    
}

#seccioncontenido .row {
    display: flex;
    align-items: center;
    justify-content: center;
}





#datos {
    display: inline-block;
}

#datos .form-control {
    background-color: white;
    color: black;
    width: 300px;
    transition: all 2s;
        
    }

#datos .form-control:focus {
    width: 500px;
    background-color: white;
    color: black;
    }

@mixin footerimg($width,$height) {
    width: $width;
    height: $height;
} 

#footer {
    margin: 0px;
    padding: 0px;
    background-color: #454546;
}

#footer .row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}

#footer .row div {
    width: 120px;
}

#footer__dondeestamos {
    color: white;
    font-family:'Fahkwang', sans-serif;
    width: 130px;
  
}

#footer__mapa img {
    border-radius: 40px;
}

#footer__nuestrasredes h6 {
    color: white;
    text-align: right;
    font-family:'Fahkwang', sans-serif;
    padding-right: 5px;
    
}

#footer__mapa img{
   @include footerimg(40px,40px)
}

#footer__facebook img {
    @include footerimg(60px,60px )
   
    
}

#footer__instagram img {
    @include footerimg(40px,40px )
    
}

.container h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container label {
    font-size: larger;
}

.container input {
    text-align: center;
}

.container button {
    font-size: larger;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 900;
    color: white;
    background-color: grey;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#quienes {
    animation-duration: 60s;
    animation-name: background3;
    animation-iteration-count: infinite;
    }
    
    @keyframes background3 {
        0% {
            opacity: 0;
        }
    
        5% {
            opacity: 1;
        }
        6% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
        }

        h3 {
            text-transform: uppercase;
        }
    
$mapacolores: (
    1: #eecd86,
    2: #e18942,
    3: #b95835,
    4: #3d3242
);
    
@each $id, $backcolor in $mapacolores {
    #quienes{
        #quienes__p:nth-child(#{$id}){
            background-color: $backcolor;
        }
    }
}

$mapaletra: (
    1: #3d3242,
    2: #eecd86,
    3: #e18942,
    4: #b95835
);

@each $id, $fontcolor in $mapaletra {
    #quienes{
        #quienes__p:nth-child(#{$id}){
        color: $fontcolor;
    }
 }
}
   
    div .caja {
        text-align: center;
        justify-content: space-between;
        padding: 20px;
        font-family: $font_family;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 10px;
        margin-right: 10px;
        animation-duration: 60s;
        animation-name: apareceequipo;
        animation-iteration-count: infinite;
    }
    @keyframes apareceequipo {
        0% {
            opacity: 0;
        }
    
        3% {
            opacity: 0;
        }
        6% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }

        h3 {
            text-transform: uppercase;
        }
        
        
    }

#walabi__imagen{
    background-image: url(./img/shaking.jpg);
    background-size: cover;
}   

#walabi__texto {
    background-color: #454546;
    color: white;
    font-family: $font_family;
    text-align: center;
    padding: 40px;     
    }


    h1 {
        background-color: #bf930d;
        animation-duration: 60s;
        animation-name: efectowalabi;
        animation-iteration-count: infinite;
        @keyframes efectowalabi {
            0% {
                opacity: 0;
            }
        
            1% {
                opacity: 0;
            }
            4% {
                opacity: 1;
            }
            100% {
                opacity: 1;
            }
        }
    }
    
    h2 {
        background-color: white;
        color: black;
        animation-duration: 60s;
        animation-name: efectosobrenosotros;
        animation-iteration-count: infinite;
        @keyframes efectosobrenosotros {
            0% {
                opacity: 0;
            }
            
            4% {
                opacity: 0;
                }
            7% {
                opacity: 1;
            }
            100% {
                opacity: 1;
            }
        }
    
    }

    p {
        padding-top: 40px;
        animation-duration: 60s;
        animation-name: efectopresentacion;
        animation-iteration-count: infinite;
        }
        @keyframes efectopresentacion {
            0% {
                opacity: 0;
            }
            
            7% {
                opacity: 0;
                }
            10% {
                opacity: 1;
            }
            100% {
                opacity: 1;
            }

         }
    

#menuproyectos {
    background-color: #454546;
    align-items: center;
    #menuproyectos__titulo h2 {
        background-color: hsl(240, 1%, 27%);
        color: white;
        font-family: $font_family;
        text-align: center;
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #menuproyectos__menu {
        text-align: center;
        a {
            font-family: $font_family;
            color: white;
            padding-left: 20px;
        }
    }
}

.proyecto__titulo h2 { 
    margin: 0px;
    background-color: #454546;
    color: white;
}

.proyecto__descripcion {
    margin: 0px;
}

#carrusel {
    background-image: url(/desafioboot/stylecss/img/5568.jpg);
    background-size: cover;
    justify-content: center;
    animation-duration: 100s;
    animation-name: efectocarrusel;
    animation-iteration-count: infinite;
}
@keyframes efectocarrusel {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    
    13% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.proyecto__titulo {
    text-align: center;
    padding-top: 20px;
}
.proyecto__descripcion {
    text-align: center;
    a {
        color: #bf930d;
        font-family: $font_family;
        font-weight: 400;
    }

}


@media  (max-width:768px) and (min-width:577px) {
    #footer__dondeestamos {
        display: none;
        font-size: small;
        position: relative;
  
    }
    


    #footer__mapa img{
        @include footerimg(50px,50px )
    }

    #footer__facebook img {
        @include footerimg(70px,70px )   
    }
    
    #footer__instagram img {
        @include footerimg(50px,50px )
        
    } 

    #footer__mapa {
        width: 80px;
    }

    #footer__facebook {
        width: 90px;
    }

    #footer__instagram {
        width: 80px;
    }

    #footer__nuestrasredes {
        display: none;
        width: 120px;
    }

    #menugrande {
        display: none;
    }

    #menumobile ul {
        list-style: none;
    }
    #menumobile {
        display:flex;
        align-self: flex-start;
    }

    #menumobile ul{
        list-style: none;
    }

    #menudesplegable img {
        width: 30px;
        height: 30px;
    }

    #menudesplegable>li {
        float: left;
        text-align:left;
        a {
            font-family: $font_family;
            color: black;    
        }
    }

    #menudesplegable>li>ul{
        display: none;
    }

    #menudesplegable>li:hover>ul {
        display:block;
        animation-duration: 10s;
        animation-name: aparecemenu;
        animation-iteration-count: infinite;
    }

    @keyframes aparecemenu {
        0% {
            opacity: 0;
        }
        5% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        
        100%{
            opacity: 1;
        }
    }   

    .container h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container label {
        font-size: large;
    }
        
    #quienes div .caja {
          
            justify-content: space-around;
            padding: 20px;
            font-family: $font_family;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 10px;
            margin-right: 10px;
    }
    

}


@media (max-width:576px) {
    #footer__dondeestamos {
        font-size: smaller;
        position: relative;
        display:none
      
      
    }
    
    #footer__mapa img{
        @include footerimg(40px,40px )
    
   

    }

    #footer__facebook img {
        @include footerimg(60px,60px )
       
        
    }
    
    #footer__instagram img {
        @include footerimg(40px,40px )
        
    }

    #footer .row div {
        width: 100px;
    }

    #footer__nuestrasredes {
        display: none;
    }

    #menugrande {
        display: none;
    }

    #menumobile {
        display:list-item;
    }

    #menumobile ul{
        list-style: none;
    }

    #menudesplegable img {
        width: 20px;
        height: 20px;
    }

    #menudesplegable>li{
        float: right;
        text-align:right;
    }

    #menudesplegable>li>ul{
        display: none;
    }

    #menudesplegable>li:hover>ul {
        display:block;
        animation-duration: 10s;
        animation-name: aparecemenu;
        animation-iteration-count: infinite;
    }

    @keyframes aparecemenu {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }   

    .container h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container label {
        font-size: large;
    }

    #quienes div .caja {
          
        justify-content: space-around;
        padding: 10px;
        font-family: $font_family;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

