* {
    margin: 0px;
    padding: 0px;
}

#cabezadepagina {
    background-color: white;    
}

#header {
    font-family:'Fahkwang', sans-serif;
    padding-top: 10px;
    font-size:x-large;
}

#menumobile {
    display: none;
}

#menugrande {
    display:flex;
    justify-content: flex-end;
}

#menugrande a {
    font-family: 'Fahkwang', sans-serif; 
    font-size: medium;
    color: black;
    font-size: large;
    padding: 10px;
   
} 



#seccioncontenido {
    background-image: url(./img/inicio.jpg);
    background-size: cover;
    text-align: center;

}

#titulo {
    margin-top: 50px;
    padding-top: 50px;    
}

#titulo h1 {
    background-color: white;
    font-family:  'Fahkwang', sans-serif;
    font-size: 400%;
    color: black;
    position: relative;
    z-index: 100;
    animation-duration: 30s;
    animation-name: aparecetitulo;
    animation-iteration-count: infinite;
}

@keyframes aparecetitulo {
    0% {
        opacity: 0;
    }
    5% {opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


#subtitulo {
    font-family:'Fahkwang', sans-serif ;
    color: white;
    position: relative;
    animation-duration: 30s;
    animation-name: aparecesubtitulo;
    animation-iteration-count: infinite;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes aparecesubtitulo {
    0% {
        opacity: 0;
    }
    10% {opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#parrafo {
    margin-top: 100px;
    margin-bottom: 100px;  
    text-align: center;
    position: relative;
    bottom:100px;
}
#parrafo  {
    color: yellow;
    font-size:x-large;
    font-weight:600;
    font-family:'Fahkwang', sans-serif  ;
    animation-duration: 30s;
    animation-name: efectoparrafo;
    animation-iteration-count: infinite;
    padding: 20px;
}


@keyframes efectoparrafo {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }    
}

#form {
    animation-duration: 200s;
    animation-name: formulario;
    animation-iteration-count: infinite;
}

@keyframes formulario {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    
}

#seccioncontenido .row {
    display: flex;
    align-items: center;
    justify-content: center;
}



.formulario {
    background-image:url(./img/pexels-eduardo-dutra-2115217.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

#datos {
    display: inline-block;
}

#datos .form-control {
    background-color: white;
    color: black;
    width: 300px;
    transition: all 2s;
        
    }

#datos .form-control:focus {
    width: 500px;
    background-color: white;
    color: black;
    }



#footer {
    margin: 0px;
    padding: 0px;
    background-color: #454546;
}

#footer .row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}

#footer .row div {
    width: 120px;
}

#footer__dondeestamos {
    color: white;
    font-family:'Fahkwang', sans-serif;
    width: 130px;
  
}

#footer__mapa img {
    border-radius: 40px;
}

#footer__nuestrasredes h6 {
    color: white;
    text-align: right;
    font-family:'Fahkwang', sans-serif;
    padding-right: 5px;
    
}

#footer__mapa img{
    height: 40px;
    width: 40px;

   

}

#footer__facebook img {
    height: 60px;
    width: 60px;
   
    
}

#footer__instagram img {
    height: 40px;
    width: 40px;
    
}

.container h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container label {
    font-size: larger;
}

.container input {
    text-align: center;
}

.container button {
    font-size: larger;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 900;
    color: white;
    background-color: grey;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#quienessomos {
    background-image: url(./img/pexels-fauxels-3183150.jpg);
    background-size: cover;
}


@media  (max-width:768px) and (min-width:577px) {
    #footer__dondeestamos {
        display: none;
        font-size: small;
        position: relative;
  
    }
    


    #footer__mapa img{
        height: 50px;
        width: 50px;
    }

    #footer__facebook img {
        height: 70px;
        width: 70px;    
    }
    
    #footer__instagram img {
        height: 50px;
        width: 50px;
        
    } 

    #footer__mapa {
        width: 80px;
    }

    #footer__facebook {
        width: 90px;
    }

    #footer__instagram {
        width: 80px;
    }

    #footer__nuestrasredes {
        display: none;
        width: 120px;
    }

    #menugrande {
        display: none;
    }

    #menumobile ul {
        list-style: none;
    }
    #menumobile {
        display:list-item;
    }

    #menumobile ul{
        list-style: none;
    }

    #menudesplegable img {
        width: 30px;
        height: 30px;
    }

    #menudesplegable>li {
        float: right;
        text-align:right;
    }

    #menudesplegable>li>ul{
        display: none;
    }

    #menudesplegable>li:hover>ul {
        display:block;
        animation-duration: 10s;
        animation-name: aparecemenu;
        animation-iteration-count: infinite;
    }

    @keyframes aparecemenu {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }   

    .container h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container label {
        font-size: large;
    }

}


@media (max-width:576px) {
    #footer__dondeestamos {
        font-size: smaller;
        position: relative;
        display:none
      
      
    }
    
    #footer__mapa img{
        height: 40px;
        width: 40px;
    
   

    }

    #footer__facebook img {
        height: 60px;
        width: 60px;
       
        
    }
    
    #footer__instagram img {
        height: 40px;
        width: 40px;
        
    }

    #footer .row div {
        width: 100px;
    }

    #footer__nuestrasredes {
        display: none;
    }

    #menugrande {
        display: none;
    }

    #menumobile {
        display:list-item;
    }

    #menumobile ul{
        list-style: none;
    }

    #menudesplegable img {
        width: 20px;
        height: 20px;
    }

    #menudesplegable>li{
        float: right;
        text-align:right;
    }

    #menudesplegable>li>ul{
        display: none;
    }

    #menudesplegable>li:hover>ul {
        display:block;
        animation-duration: 10s;
        animation-name: aparecemenu;
        animation-iteration-count: infinite;
    }

    @keyframes aparecemenu {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }   

    .container h2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container label {
        font-size: large;
    }

}


