* {
  margin: 0px;
  padding: 0px; }

#cabezadepagina {
  background-color: whitesmoke; }

#header {
  font-family: 'Fahkwang', sans-serif;
  padding-top: 10px;
  font-size: x-large; }

#menumobile {
  display: none; }

#menugrande {
  display: flex;
  justify-content: flex-end; }

#menugrande a {
  font-family: 'Fahkwang', sans-serif;
  font-size: medium;
  color: black;
  font-size: large;
  padding: 10px; }

#seccioncontenido {
  background-image: url(./img/inicio.jpg);
  background-size: cover;
  text-align: center;
  animation-duration: 30s;
  animation-name: backgroundefecto;
  animation-iteration-count: infinite; }

@keyframes backgroundefecto {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#titulo {
  margin-top: 50px;
  padding-top: 50px; }

audio {
  display: none; }

#titulo h1 {
  background-color: #76323f;
  opacity: 80%;
  font-family: 'Fahkwang', sans-serif;
  font-size: 400%;
  color: white;
  border-radius: 20px;
  animation-duration: 30s;
  animation-name: aparecetitulo;
  animation-iteration-count: infinite; }

@keyframes aparecetitulo {
  0% {
    opacity: 0; }
  5% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#subtitulo {
  font-family: 'Fahkwang', sans-serif;
  color: white;
  position: relative;
  animation-duration: 30s;
  animation-name: aparecesubtitulo;
  animation-iteration-count: infinite;
  margin-left: 10px;
  margin-right: 10px; }

@keyframes aparecesubtitulo {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#parrafo {
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
  bottom: 100px;
  color: black;
  font-size: large;
  font-weight: 400;
  font-family: 'Fahkwang', sans-serif;
  animation-duration: 30s;
  animation-name: efectoparrafo;
  animation-iteration-count: infinite;
  padding: 20px; }
  #parrafo h4 {
    background-color: whitesmoke;
    opacity: 80%;
    border-radius: 20px;
    padding: 5px; }

@keyframes efectoparrafo {
  0% {
    opacity: 0; }
  15% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.formulario {
  background-image: url(./img/pexels-eduardo-dutra-2115217.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  animation-duration: 30s;
  animation-name: backgroundefecto2;
  animation-iteration-count: infinite; }

@keyframes backgroundefecto2 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#form {
  animation-duration: 200s;
  animation-name: formulario;
  animation-iteration-count: infinite; }

@keyframes formulario {
  0% {
    opacity: 0; }
  1% {
    opacity: 0; }
  4% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#seccioncontenido .row {
  display: flex;
  align-items: center;
  justify-content: center; }

#datos {
  display: inline-block; }
  #datos .form-control {
    background-color: white;
    color: black;
    width: 300px;
    transition: all 2s; }

#datos .form-control:focus {
  width: 500px;
  background-color: white;
  color: black; }

#footer {
  margin: 0px;
  padding: 0px;
  background-color: black;
  height: 70px; }
  #footer .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    #footer .row div {
      width: 120px;
      height: 50px; }

#footer__dondeestamos {
  color: white;
  font-family: 'Fahkwang', sans-serif;
  width: 130px;
  margin-left: 10px;
  padding-top: 10px; }

#footer__mapa img {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  margin-top: 15px; }

#footer__nuestrasredes {
  color: white;
  text-align: right;
  font-family: 'Fahkwang', sans-serif;
  margin-right: 10px;
  padding-top: 10px; }

#footer__facebook img {
  width: 60px;
  height: 60px;
  margin-top: 5px; }

#footer__instagram img {
  width: 40px;
  height: 40px;
  margin-top: 15px; }

.container h2 {
  padding-top: 30px;
  padding-bottom: 30px; }

.container label {
  font-size: larger; }

.container input {
  text-align: center; }

.container button {
  font-size: larger;
  font-family: 'Fahkwang', sans-serif;
  font-weight: 900;
  color: white;
  background-color: grey;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 10px;
  margin: 20px; }

#quienes {
  background-image: url(./img/shaking.jpg);
  background-size: cover;
  animation-duration: 60s;
  animation-name: background3;
  animation-iteration-count: infinite; }

@keyframes background3 {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  6% {
    opacity: 1; }
  100% {
    opacity: 1; } }

h3 {
  text-transform: uppercase; }

#quienes #quienes__p:nth-child(1) {
  background-color: #eecd86;
  opacity: 85%; }

#quienes #quienes__p:nth-child(2) {
  background-color: #bf930d;
  opacity: 85%; }

#quienes #quienes__p:nth-child(3) {
  background-color: #76323f;
  opacity: 85%; }

#quienes #quienes__p:nth-child(4) {
  background-color: #3d3242;
  opacity: 85%; }

#quienes #quienes__p:nth-child(1) {
  color: #76323f; }

#quienes #quienes__p:nth-child(2) {
  color: #3d3242; }

#quienes #quienes__p:nth-child(3) {
  color: #bf930d; }

#quienes #quienes__p:nth-child(4) {
  color: #eecd86; }

div .caja {
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  font-family: "Fahkwang", sans-serif;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 10px;
  margin-right: 10px;
  animation-duration: 60s;
  animation-name: apareceequipo;
  animation-iteration-count: infinite; }

@keyframes apareceequipo {
  0% {
    opacity: 0; }
  3% {
    opacity: 0; }
  6% {
    opacity: 1; }
  100% {
    opacity: 1; }
  h3 {
    text-transform: uppercase; } }

#walabi {
  background-image: url(/desafioboot/img/pexels-fauxels-3183150.jpg);
  background-size: cover; }
  #walabi #walabirow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }

#walabi__texto {
  background-color: #76323f;
  opacity: 90%;
  border-radius: 400px;
  color: whitesmoke;
  font-family: "Fahkwang", sans-serif;
  padding: 80px;
  margin-top: 20px;
  margin-bottom: 20px; }
  #walabi__texto h1 {
    background-color: whitesmoke;
    color: #76323f;
    width: 200px;
    border-radius: 20px;
    position: relative;
    left: 50px;
    padding-left: 10px;
    animation-duration: 60s;
    animation-name: efectowalabi;
    animation-iteration-count: infinite; }

@keyframes efectowalabi {
  0% {
    opacity: 0; }
  1% {
    opacity: 0; }
  4% {
    opacity: 1; }
  100% {
    opacity: 1; } }
  #walabi__texto h2 {
    color: white;
    font-weight: 500;
    position: relative;
    left: 50px;
    animation-duration: 60s;
    animation-name: efectosobrenosotros;
    animation-iteration-count: infinite; }

@keyframes efectosobrenosotros {
  0% {
    opacity: 0; }
  4% {
    opacity: 0; }
  7% {
    opacity: 1; }
  100% {
    opacity: 1; } }
  #walabi__texto p {
    position: relative;
    left: 50px;
    animation-duration: 60s;
    animation-name: efectopresentacion;
    animation-iteration-count: infinite; }

@keyframes efectopresentacion {
  0% {
    opacity: 0; }
  7% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#menuproyectos {
  background-color: whitesmoke;
  align-items: center;
  border-top: solid 1px #3d3242; }
  #menuproyectos b #menuproyectos__titulo h2 {
    background-color: whitesmoke;
    color: #3d3242;
    font-family: "Fahkwang", sans-serif;
    text-align: center;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px; }
  #menuproyectos #menuproyectos__menu {
    text-align: center; }
    #menuproyectos #menuproyectos__menu #hormiga {
      color: #76323f; }
    #menuproyectos #menuproyectos__menu #bebedero {
      color: #3d3242; }
    #menuproyectos #menuproyectos__menu #atiko {
      color: #bf930d; }
    #menuproyectos #menuproyectos__menu a {
      font-family: "Fahkwang", sans-serif;
      padding-left: 20px;
      animation-duration: 60s;
      animation-name: efectopresentacion;
      animation-iteration-count: infinite; }

#portfolio1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#chn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #76323f;
  color: whitesmoke; }
  #chn .nombre__proyecto {
    width: 600px;
    display: inline;
    float: left;
    text-align: center;
    padding-top: 70px; }
  #chn .proyecto__descripcion {
    width: 700px;
    float: right;
    text-align: center;
    background-color: #76323f;
    color: whitesmoke;
    padding-top: 10px; }
    #chn .proyecto__descripcion a {
      align-items: right; }

#bebe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #3d3242;
  color: whitesmoke; }
  #bebe .nombre__proyecto {
    width: 600px;
    display: inline;
    float: left;
    text-align: center;
    padding-top: 50px; }
  #bebe .proyecto__descripcion {
    width: 700px;
    float: right;
    text-align: center;
    background-color: #3d3242;
    color: whitesmoke;
    padding-top: 10px; }
    #bebe .proyecto__descripcion a {
      align-items: right; }

#ati {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #bf930d;
  color: whitesmoke; }
  #ati .nombre__proyecto {
    width: 600px;
    display: inline;
    float: left;
    text-align: center;
    padding-top: 40px; }
  #ati .proyecto__descripcion {
    width: 700px;
    float: right;
    text-align: center;
    background-color: #bf930d;
    color: whitesmoke;
    padding-top: 10px; }
    #ati .proyecto__descripcion a {
      align-items: right;
      color: #3d3242; }

#carruselchn {
  background-color: #76323f;
  justify-content: center;
  animation-duration: 100s;
  animation-name: efectocarrusel;
  animation-iteration-count: infinite; }
  #carruselchn img {
    border: solid 2px #3d3242;
    margin-bottom: 10px; }

@keyframes efectocarrusel {
  0% {
    opacity: 0; }
  2% {
    opacity: 0; }
  4% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#carruselbebe {
  background-color: #3d3242;
  justify-content: center;
  animation-duration: 100s;
  animation-name: efectocarrusel;
  animation-iteration-count: infinite; }
  #carruselbebe img {
    border: solid 2px #bf930d;
    margin-bottom: 10px; }

@keyframes efectocarrusel {
  0% {
    opacity: 0; }
  2% {
    opacity: 0; }
  4% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#carruselati {
  background-color: #bf930d;
  justify-content: center;
  animation-duration: 100s;
  animation-name: efectocarrusel;
  animation-iteration-count: infinite; }
  #carruselati img {
    border: solid 2px #76323f;
    margin-bottom: 10px; }

@keyframes efectocarrusel {
  0% {
    opacity: 0; }
  2% {
    opacity: 0; }
  4% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.proyecto__titulo, .proyecto__descripcion {
  text-align: center; }

.proyecto__descripcion a {
  color: #bf930d;
  font-family: "Fahkwang", sans-serif;
  font-weight: 400; }

@media (max-width: 768px) and (min-width: 577px) {
  #footer {
    height: 60px;
    display: inline-block; }
    #footer .row {
      display: flex;
      justify-content: space-around;
      align-items: stretch; }
  #footer__dondeestamos {
    display: none; }
  #walabi__texto {
    padding: 50px; }
    #walabi__texto h1 {
      width: 170px;
      margin-left: 20px; }
  #footer__mapa img {
    width: 30px;
    height: 30px; }
  #footer__facebook img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px; }
  #footer__instagram img {
    width: 30px;
    height: 30px; }
  #footer__mapa {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center; }
  #footer__facebook {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center; }
  #footer__instagram {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center; }
  #footer__nuestrasredes {
    display: none;
    width: 120px; }
  #cabezadepagina.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    #cabezadepagina.row #menugrande {
      display: none; }
    #cabezadepagina.row #menumobile {
      display: inline;
      width: 100px;
      align-self: flex-end; }
      #cabezadepagina.row #menumobile div.row {
        width: 50px;
        float: left; }
  #menudesplegable {
    list-style: none;
    float: left; }
    #menudesplegable img {
      width: 30px;
      height: 30px; }
    #menudesplegable ul {
      list-style: none; }
  #menudesplegable > li {
    float: left;
    text-align: left; }
  #menudesplegable > li > ul {
    display: none; }
  #menudesplegable > li:hover > ul {
    display: block;
    animation-duration: 10s;
    animation-name: aparecemenu;
    animation-iteration-count: infinite; }
    #menudesplegable > li:hover > ul li {
      font-family: "Fahkwang", sans-serif; }
      #menudesplegable > li:hover > ul li a {
        list-style: none;
        color: #3d3242; }
  @keyframes aparecemenu {
    0% {
      opacity: 0; }
    5% {
      opacity: 0; }
    10% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  #menumobile.lista a {
    font-family: "Fahkwang", sans-serif;
    color: black; }
  .container h2 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .container label {
    font-size: large; }
  #quienes div .caja {
    justify-content: space-around;
    padding: 20px;
    font-family: "Fahkwang", sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px; } }

@media (max-width: 576px) {
  #footer {
    display: inline; }
    #footer .row {
      background-color: black; }
    #footer #footer__dondeestamos {
      display: none; }
    #footer #footer__mapa {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 7px; }
    #footer #footer__facebook {
      width: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 3px; }
    #footer #footer__instagram {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 7px; }
  #walabi__texto {
    padding: 60px; }
  #footer__mapa img {
    width: 30px;
    height: 30px; }
  #footer__facebook img {
    width: 40px;
    height: 40px; }
  #footer__instagram img {
    width: 30px;
    height: 30px; }
  #footer .row div {
    width: 100px; }
  #footer__nuestrasredes {
    display: none; }
  #menugrande {
    display: none; }
  #menumobile {
    display: list-item; }
    #menumobile ul {
      list-style: none; }
  #menudesplegable img {
    width: 20px;
    height: 20px; }
  #menudesplegable > li {
    float: right;
    text-align: right; }
  #menudesplegable > li > ul {
    display: none; }
  #menudesplegable > li:hover > ul {
    display: block;
    animation-duration: 10s;
    animation-name: aparecemenu;
    animation-iteration-count: infinite; }
    #menudesplegable > li:hover > ul li {
      font-family: "Fahkwang", sans-serif; }
      #menudesplegable > li:hover > ul li a {
        list-style: none;
        color: #3d3242; }
  @keyframes aparecemenu {
    0% {
      opacity: 0; }
    20% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  .container h2 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .container label {
    font-size: large; }
  #quienes div .caja {
    justify-content: space-around;
    padding: 10px;
    font-family: "Fahkwang", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px; } }
